---
import Layout from '@/layouts/Layout.astro'
import YourCoins from '@/components/YourCoins.tsx'
import ProductCard from '@/components/ProductCard.tsx'

const {
  store,
  currentUser,
} = Astro.locals

const user = await currentUser() as unknown as User
const products: Product[] = store ? await fetch(`${Astro.url.origin}/api/product?storeId=${store.id}`).then(res => res.json()) : []
---

<Layout>
  {
    store ? (
      <main>
        <header>
          {/* banner */}
          <div id="banner" class="w-full h-60 bg-card bg-cover bg-center bg-no-repeat" style={`background-image: url(${store.bannerUrl})`}>
          </div>
          {/* content */}
          <div class="relative -top-12 flex flex-col items-center justify-center gap-4">
            <img
              src={store.iconUrl}
              alt="store icon"
              class="w-24 h-24 rounded-full border-2 border-border overflow-hidden"
            />
            <h1 class="text-4xl font-bold">
              {store.name}
            </h1>
          </div>
          <div class="flex justify-center">
            <YourCoins client:idle store={store} userLegacy={user} />
          </div>
        </header>
        <div class='px-12 py-6 flex flex-wrap justify-center gap-4'>
          {
            products.map((product) => (
              <ProductCard client:idle userLegacy={user} store={store} productLegacy={product} fromStore />
            ))
          }
        </div>
      </main>
    ) : (
      <div class="flex flex-col items-center justify-center gap-4 p-4">
        <h1 class="text-4xl font-bold">
          Store not found
        </h1>
      </div>
    )
  }
</Layout>

<style>
  #banner {
    mask-image: linear-gradient(to top, transparent, var(--color-background));
  }
</style>