---
import NavMenu from '@/components/NavMenu.tsx'
import { buttonVariants } from '@/components/ui/button.tsx'
import {
  SignedIn,
  SignedOut,
  SignInButton,
  UserButton,
} from '@clerk/astro/components'
import StoreInput from '@/components/StoreInput.tsx'
import MobileNav from '@/components/MobileNav.tsx'
import { NAV_ITEMS, NAV_ITEMS_ACCOUNT } from '@/data/nav.data'
---

<header class="sticky top-0 z-50 min-h-14 h-14 text-white px-4 flex justify-center border-b border-border bg-background">
  <div class="max-w-5xl w-full grid grid-cols-3 items-center">
    <div>
      <!-- left -->
      <MobileNav client:load />
      <a href="/" class="flex items-center gap-2">
        <!-- <img
          src="/logo.svg"
          alt="logo"
          class="h-6 w-auto"
        /> -->
        <span class="sr-only">RedeemZone</span>
      </a>
      <NavMenu
        client:idle
        pathname={Astro.url.pathname}
        items={NAV_ITEMS}
      />
    </div>
    <div class="flex items-center justify-center">
      <!-- middle search bar -->
      {
        Astro.url.pathname !== '/' && (
          <StoreInput client:idle overlayMode />
        )
      }
    </div>
    <div class="justify-self-end flex items-center gap-2">
      <!-- right -->
      <SignedIn>
        <NavMenu
          client:idle
          pathname={Astro.url.pathname}
          items={NAV_ITEMS_ACCOUNT}
        />
        <UserButton />
      </SignedIn>
      <SignedOut>
        <SignInButton mode="modal" class={buttonVariants()}>
          Sign In
        </SignInButton>
      </SignedOut>
    </div>
  </div>
</header>